<div class="container-fluid">
  <section class="">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="../../../assets/images/asistente.png" class="rounded mx-auto d-block" alt="">
      </div>
      <div class="col-12 col-lg-5 text-center">
        <div class="col">
          <h1>
            ¡Hola! Me llamo Mateo y
            estoy acá para ayudarte a
            crear tu lista de compras
            con las mejores ofertas que
            estén cerca tuyo.
            <br>
            ¿Comenzamos?
          </h1>
        </div>
        <div class="col mt-5">
          <button class="btn btn-primary">Descubri tus productos</button>
        </div>
      </div>
    </div>

  </section>

  <section class="">
    <div class="row fondo3 justify-content-evenly">
      <div class="col-12 col-lg-5 align-left">
        <h2 class="p-2">
          Rápido y fácil
        </h2>
        <h3 class="p-2">
          Te facilitamos el ahorro en tus compras para eventos
          mediante un asistente, al proporcionarte recomendaciones
          personalizadas.
          Con nuestro enfoque único y rápido, te ofrecemos la
          oportunidad de descubrir las mejores opciones de ofertas
          para tus compras, ahorrando tiempo y reduciendo el estrés
          asociado con la planificación de eventos
        </h3>
      </div>
      <div class="col-12 col-lg-5">
        <img src="../../../assets/images/hombre-computadora-01.svg" class="rounded mx-auto d-block" alt="">
      </div>
    </div>
  </section>

  <section class="">
    <div class="row text-center fondo4">
      <div class="col-12 titulo">
        <h2>
          Registrate y empezá a ahorrar!
        </h2>
      </div>
    </div>
    <div class="row justify-content-evenly text-center fondo4">
      <div class="col-12 col-lg-3">
        <div class="p-4">
          <img class="iconVector" src="../../../assets/images/comercio.svg" alt="">
        </div>
        <div>
          <h3>Comercios Cercanos</h3>
        </div>
        <div>
          <h6>Las mejores ofertas de tu
            comercio mas cercano que aun no encontras.
          </h6>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="p-4">
          <img class="iconVector" src="../../../assets/images/chat.svg" alt="">
        </div>
        <div>
          <h3>Asistencia Inteligente</h3>
        </div>
        <div>
          <h6>Nuestro asistente inteligente te
            ayudará a organizar tus
            compras de manera rapida y segura.
          </h6>
        </div>
      </div>
    </div>
  </section>

  <section class="">

    <div class="row fondo3">
      <div class="col-12 text-center">
        <h1>¿Tenes un negocio?</h1>
        <h2>
          Publica las ofertas de tu negocio
        </h2>
      </div>
    </div>
    <div class="row justify-content-evenly text-center fondo3">
      <div class="col-12 col-lg-3">
        <div class="">
          <img class="iconVector2" src="../../../assets/images/2-01.svg" alt="">
        </div>
        <div>
          <h3>Registrate</h3>
        </div>
        <div>
          <h6>Registrá tu usuario con tus datos y los de tu negocio.
          </h6>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="">
          <img class="iconVector2" src="../../../assets/images/1-01.svg" alt="">
        </div>
        <div>
          <h3>Analizaremos</h3>
        </div>
        <div>
          <h6>Vamos a corroborar tus datos para verificar que sea un
            comercio habilitado.
          </h6>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="">
          <img class="iconVector2" src="../../../assets/images/4-01.svg" alt="">
        </div>
        <div>
          <h3>Publicá tus ofertas</h3>
        </div>
        <div>
          <h6>Una vez que estes habilitado, podrás subir tus ofertas.
          </h6>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="row justify-content-evenly">
      <div class="col-12 col-lg-5 align-left">
        <h2>
          Obtené mayor visibilidad
        </h2>
        <h3>
          Creemos que los comercios locales necesitan
          mayor apoyo y visibilidad, sin grandes costos
          en publicidad o marketing.
          Te ofrecemos publicar tus ofertas para que tus
          clientes más cercanos puedan estar al tanto de
          las mismas, y aumentar tus ventas.
        </h3>
        <br>
        <button class="btn btn-primary">
          Registrarme como comercio
        </button>
      </div>
      <div class="col-12 col-lg-5">
        <img src="../../../assets/images/asistente.png" class="rounded mx-auto d-block" alt="">
      </div>
    </div>
  </section>

  <!-- <section class="page-section">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Nuestro equipo</h2>
        <h3 class="section-subheading text-muted">Equipo de desarrollo de Eventify. Aplicacion web desarrollada en la Universidad Nacional de la Matanza.</h3>
    </div>
    <div class="row">
        <div class="col-12 col-sm">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="../../../assets/images/3.jpg" alt="..." />
                <h4>Fabrizio Franco</h4>
                <p class="text-muted">Frontend Engineer</p>
            </div>
        </div>
        <div class="col-12 col-sm">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="../../../assets/images/3.jpg" alt="..." />
                <h4>Carla xxx</h4>
                <p class="text-muted">Frontend Engineer</p>
            </div>
        </div>
        <div class="col-12 col-sm">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="../../../assets/images/3.jpg" alt="..." />
                <h4>Alexis xxxx</h4>
                <p class="text-muted">Frontend Engineer</p>
            </div>
        </div>
        <div class="col-12 col-sm">
          <div class="team-member">
              <img class="mx-auto rounded-circle" src="../../../assets/images/3.jpg" alt="..." />
              <h4>Scarlet xxx</h4>
              <p class="text-muted">Backend Engineer</p>
          </div>
      </div>
      <div class="col-12 col-sm">
        <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../../assets/images/3.jpg" alt="..." />
            <h4>Diego xxx</h4>
            <p class="text-muted">Backend Engineer</p>
        </div>
    </div>
    </div>
  </section> -->
</div>


