<div class="container-fluid">
  <section class="">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <img src="../../../assets/images/asistente.png" class="" alt="">
      </div>
      <div class="col-12 col-lg-5 text-center">
        <div class="col">
          <h1 id="animated-text" class="fade-in">
            ¡Hola! Me llamo Mateo y
            estoy para ayudarte a
            crear tu lista de compras
            con las mejores ofertas que
            estén cerca tuyo.
            <br>
            ¿Comenzamos?
          </h1>
        </div>
        <div class="col mt-5">
          <button id="animated-text" class="fade-in btn btn-primary p-3"><a routerLink="/consultar-evento">Arma tu lista de compras</a></button>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="row fondo3 justify-content-evenly">
      <div class="col-12 col-lg-5 align-left">
        <h2 class="p-2">
          Rápido y fácil
        </h2>
        <h3 class="p-2">
          Te facilitamos el ahorro en tus compras para eventos
          mediante un asistente, al proporcionarte recomendaciones
          personalizadas.
          Con nuestro enfoque único y rápido, te ofrecemos la
          oportunidad de descubrir las mejores opciones de ofertas
          para tus compras, ahorrando tiempo y reduciendo el estrés
          asociado con la planificación de eventos
        </h3>
      </div>
      <div class="col-12 col-lg-5">
        <img src="../../../assets/images/hombre-computadora-illus-01.svg" class="" alt="">
      </div>
    </div>
  </section>

  <section class="">
    <div class="row text-center fondo4">
      <div class="col-12 titulo">
        <h2>
          Registrate y empezá a ahorrar!
        </h2>
        <hr>
      </div>
    </div>
    <div class="row justify-content-evenly text-center fondo4">
      <div class="col-12 col-lg-3">
        <div class="p-4">
          <img class="iconVector" src="../../../assets/images/comercio.svg" alt="">
        </div>
        <div>
          <h3 class="titulo">Comercios Cercanos</h3>
        </div>
        <div>
          <p>Las mejores ofertas de tu
            comercio mas cercano que aun no encontras
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="p-4">
          <img class="iconVector" src="../../../assets/images/chat.svg" alt="">
        </div>
        <div>
          <h3 class="titulo">Asistencia Inteligente</h3>
        </div>
        <div>
          <p>Nuestro asistente inteligente te
            ayudará a organizar tus
            compras de manera rapida y segura
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="">

    <div class="row fondo3">
      <div class="col-12 text-center">
        <h2>¿Tenes un comercio?</h2>
        <h2>
          Publicá las ofertas de tu comercio
        </h2>
        <hr>
      </div>
    </div>
    <div class="row justify-content-evenly text-center fondo3">
      <div class="col-12 col-lg-3">
        <div class="">
          <img class="iconVector2" src="../../../assets/images/2-01.svg" alt="">
        </div>
        <div>
          <h3 class="titulo">Registrate</h3>
        </div>
        <div>
          <p>Registrá tu usuario con tus datos y los de tu comercio
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="">
          <img class="iconVector2" src="../../../assets/images/1-01.svg" alt="">
        </div>
        <div>
          <h3 class="titulo">Analizaremos</h3>
        </div>
        <div>
          <p>Verificaremos que el comercio esté habilitado
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="">
          <img class="iconVector2" src="../../../assets/images/4-01.svg" alt="">
        </div>
        <div>
          <h3 class="titulo">Publicá tus ofertas</h3>
        </div>
        <div>
          <p>Una vez que estes habilitado, podrás subir tus ofertas
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="row justify-content-evenly">
      <div class="col-12 col-lg-5 align-left">
        <h2 class="p-2">
          Obtené mayor visibilidad
        </h2>
        <h3 class="p-2">
          Creemos que los comercios locales necesitan
          mayor apoyo y visibilidad, sin grandes costos
          en publicidad o marketing.
          Te ofrecemos publicar tus ofertas para que tus
          clientes más cercanos puedan estar al tanto de
          las mismas, y aumentar tus ventas.
        </h3>
        <br>
        <button class="btn btn-primary p-3" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
          Registrate como comercio
        </button>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../../assets/images/shop-01.svg" class="rounded mx-auto d-block" alt="">
      </div>
    </div>
  </section>
</div>

<script>
  const text = document.getElementById('animated-text');
  text.classList.add('fade-in');
</script>
