
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Reemplace su producto por el de otros comercios</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
<div class="row">
  <div class="col-6 col-md-4">
    <div class="d-flex align-items-center justify-content-center div-card-producto">
      <div class="card mx-auto text-center m-5 d-inline-block effect-card">
        <img src="https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000" class="card-img-top mx-auto" style="max-width: 100px;">
        <div class="card-body card-producto">
          <h5 class="card-title mt-1 fs-6">Aperitivo Fernet Branca 750 ml.</h5>
          <div class="btn-container d-flex justify-content-center mt-3">
            <span class="fw-bold fs-5 me-2">$2349.99</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
        <div class="col-6 col-md-4"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-5 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000" class="card-img-top mx-auto" style="max-width: 100px;">
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Aperitivo Fernet Branca 750 ml.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$2349.99</span>
            </div>
          </div>
        </div>
      </div></div>
        <div class="col-6 col-md-4"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-5 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000" class="card-img-top mx-auto" style="max-width: 100px;">
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Aperitivo Fernet Branca 750 ml.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$2349.99</span>
            </div>
          </div>
        </div>
      </div></div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cancelar
    </button>
    <button class="btn boton-producto"><i class="fas fa-right-left text-white"></i></button>

  </div>