
.buttonnregistro{
    background-color: #025373 !important;
}

.menu{
    color:  #025373 !important;
}
.botonregistro{
    color: #fff;
   
}
.btnIniciarSesion{
    border-color: #025373 !important;
    color: #025373 !important;
}