

<div class="container-fluid">
  <div class="row">
    <!-- columna lista de compras -->
 <!--   <div class="col-xl-12 col-lg-12 col-md-12 fondo">
      <div class="div-lista">
        <div class="card">
          <div class="card-body card-producto">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="titulo">
                    <h2>Productos para tu evento</h2>
                    <div class="linea-titulo"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <button
                class="icon-producto"
                style="
                  background-image: url('https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000');
                  background-repeat: no-repeat;
                  background-size: cover;
                "
                mdbTooltip="Fernet"
                placement="top"
                tooltipAnimation="true"
              >
              </button>
              <button
                class="icon-producto"
                style="
                  background-image: url('https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000');
                  background-repeat: no-repeat;
                  background-size: cover;
                "
                mdbTooltip="Fernet"
                placement="top"
                tooltipAnimation="true"
              >
              </button>
              <button
                class="icon-producto"
                style="
                  background-image: url('https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000');
                  background-repeat: no-repeat;
                  background-size: cover;
                "
                mdbTooltip="Fernet"
                placement="top"
                tooltipAnimation="true"
              >
              </button>
              <button
                class="icon-producto"
                style="
                  background-image: url('https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000');
                  background-repeat: no-repeat;
                  background-size: cover;
                "
                mdbTooltip="Fernet"
                placement="top"
                tooltipAnimation="true"
              >
              </button>
              <button
                class="icon-producto"
                style="
                  background-image: url('https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000');
                  background-repeat: no-repeat;
                  background-size: cover;
                "
                mdbTooltip="Fernet"
                placement="top"
                tooltipAnimation="true"
              >
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <!-- columna optimizacion -->
    <!-- columna optimizacion -->
  <div class="col-xl-12 col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="div-lista">
          <div class="card card-optimizar">
            <div>
                          <!-- titulo optimizar -->
              <div class="card-body card-producto">
                <div class="row">
                  <div class="col-md-8">
                    <h2
                    >
                      Optimizar lista
                    </h2>
                    <div class="linea-titulo"
                    >
                  </div>
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="div-icono">
                        <button class="icon-circle mr-3" id="botonEconomico" (click)="seleccionarListaEconomica()" mdbTooltip="Más económico" placement="top" tooltipAnimation="true">
                          <img src="assets/icons/precio.svg" alt="Icono económico" width="30" height="30">
                        </button>
                      </div>
                      <div>
                        <h2 class="subtitulo">
                          Más económico
                        </h2>
                      </div>
                      <table class="table tabla-redondeada" [ngClass]="{'tabla-seleccionada': listaEconomicaSeleccionada, 'tabla-desactivada': menosRecorridoSeleccionado}">
                        <tbody>
                          <tr class="fila list text-center align-middle">
                            <th scope="row">
                              <img src="https://ardiaprod.vtexassets.com/arquivos/ids/221169-1200-auto?v=637813804938970000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" />
                            </th>
                            <td class="align-middle">
                              Asado Envasado al Vacío x 1 Kg.
                            </td>
                            
                            <td class="align-middle">
                              Carnicería El Loco
                            </td>
                            <td class="align-middle price">
                              $1120
                            </td>
                          </tr>
                          <tr class="fila list text-center align-middle">
                            <th scope="row">
                              <img src="https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000" class="card-img-top mx-auto" />
                            </th>
                            <td class="align-middle">
                              Aperitivo Fernet Branca 750 ml.
                            </td>
                            <td class="align-middle">
                              Supermercado Luna
                            </td>
                            <td class="align-middle price">
                              $1120
                            </td>
                          </tr>
                          
                          <tr class="fila list text-center align-middle">
                            <th scope="row">
                              <img src="https://ardiaprod.vtexassets.com/arquivos/ids/242761-1200-auto?v=638115736908170000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" />
                            </th>
                            <td class="align-middle">
                              Papas Fritas Krachitos 270 Gr.
                            </td>
                            <td class="align-middle">
                              Mayorista Makro
                            </td>
                            <td class="align-middle price">
                              $1120
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                    <div class="col-xl-6">
                      <div class="div-icono">
                        <button class="icon-circle mr-3" id="botonMenosRecorrido" (click)="seleccionarMenosRecorrido()" mdbTooltip="Menos recorrido" placement="top" tooltipAnimation="true">
                          <img src="assets/icons/ruta.svg" alt="Icono recorrido" width="30" height="30">
                        </button>
                      </div>
                      <div>
                        <h2 class="subtitulo">
                          Menos recorrido
                        </h2>
                      </div>
                      <table class="table tabla-redondeada" [ngClass]="{'tabla-seleccionada': menosRecorridoSeleccionado, 'tabla-desactivada': listaEconomicaSeleccionada}">
                        <tbody>
                          <tr class="fila list text-center align-middle">
                            <th scope="row">
                              <img src="https://ardiaprod.vtexassets.com/arquivos/ids/221169-1200-auto?v=637813804938970000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" />
                            </th>
                            <td class="align-middle">
                              Asado Envasado al Vacío x 1 Kg.
                            </td>
                            
                            <td class="align-middle">
                              Carnicería El Loco
                            </td>
                            <td class="align-middle price">
                              $1120
                            </td>
                          </tr>
                          <tr class="fila list text-center align-middle">
                            <th scope="row">
                              <img src="https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000" class="card-img-top mx-auto" />
                            </th>
                            <td class="align-middle">
                              Aperitivo Fernet Branca 750 ml.
                            </td>
                            <td class="align-middle">
                              Supermercado Luna
                            </td>
                            <td class="align-middle price">
                              $1120
                            </td>
                          </tr>
                          
                          <tr class="fila list text-center align-middle">
                            <th scope="row">
                              <img src="https://ardiaprod.vtexassets.com/arquivos/ids/242761-1200-auto?v=638115736908170000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" />
                            </th>
                            <td class="align-middle">
                              Papas Fritas Krachitos 270 Gr.
                            </td>
                            <td class="align-middle">
                              Mayorista Makro
                            </td>
                            <td class="align-middle price">
                              $1120
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                  </div>
                  </div>
                  
                  <!-- mapa -->
                  <div class="col-md-4">
                    <div>
                      <app-mejor-ruta></app-mejor-ruta>
                    </div>
                    
<div>
  
<button type="button" class="btn btn-primary btn-lg icono-generar" (click)="shareMap()">Compartir recorrido</button>
</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
