<div class="row">
  
<!-- columna lista de compras -->
<div class="col-xl-4 col-md-12 fondo">
  <div class="div-lista">

    <!-- card lista de compras -->
    <div class="card">
      <div>

        <!-- titulo -->
        <div class="card-body card-producto">
          <div class="row">
            <div class="col-md-12">
              <div class="titulo">
                <h2>Nuestra selección</h2>
                <div class="linea-titulo"></div>
              </div>
            </div>
          </div>

          <!-- tabla de productos -->
          <div class="row">
            <div class="col-xl-12">
              
              <table class="table tabla-redondeada">
                <tbody>
                  <tr class="fila list text-center align-middle">
                    <th scope="row">
                      <img src="https://ardiaprod.vtexassets.com/arquivos/ids/221169-1200-auto?v=637813804938970000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" />
                    </th>
                    <td class="align-middle">
                      Asado Envasado al Vacío x 1 Kg.
                    </td>
                    
                    <td class="align-middle">
                      Carnicería El Loco
                    </td>
                    <td class="align-middle price">
                      $1120
                    </td>
                    <td class="align-middle">
                      <button class="btn boton-producto btn-sm" (click)="openModal()">
                        <i class="fas fa-right-left text-white"></i>
                      </button>
                    </td>
                  </tr>
                  <tr class="fila list text-center align-middle">
                    <th scope="row">
                      <img src="https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000" class="card-img-top mx-auto" />
                    </th>
                    <td class="align-middle">
                      Aperitivo Fernet Branca 750 ml.
                    </td>
                    <td class="align-middle">
                      Supermercado Luna
                    </td>
                    <td class="align-middle price">
                      $1120
                    </td>
                    <td class="align-middle">
                      <button class="btn boton-producto btn-sm" (click)="openModal()">
                        <i class="fas fa-right-left text-white"></i>
                      </button>
                    </td>
                  </tr>
                  <tr class="fila list text-center align-middle">
                    <th scope="row">
                      <img src="https://ardiaprod.vtexassets.com/arquivos/ids/242761-1200-auto?v=638115736908170000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" />
                    </th>
                    <td class="align-middle">
                      Papas Fritas Krachitos 270 Gr.
                    </td>
                    <td class="align-middle">
                      Mayorista Makro
                    </td>
                    <td class="align-middle price">
                      $1120
                    </td>
                    <td class="align-middle">
                      <button class="btn boton-producto btn-sm" (click)="openModal()">
                        <i class="fas fa-right-left text-white"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-primary btn-lg icono-generar">Guardar lista</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- columna optimizacion -->
  <div class="col-xl-8 col-md-12 fondo">
    <div class="row">
      <div class="col-md-12">
        <div class="div-lista">
          <div class="card card-optimizar">
            <div>
                          <!-- titulo optimizar -->
              <div class="card-body card-producto">
                <div class="row">
                  <div class="col-md-8">
                    <h2
                    >
                      Optimizar
                    </h2>
                    <div class="linea-titulo"
                    ></div>

            <!-- botones optimizar -->
                    <div
                      class="btn-container d-flex justify-content-center mt-3"
                    >
                      <button
                        class="icon-circle mr-3"
                        id="botonEconomico"
                        (click)="optimizar('economico')"
                        mdbTooltip="Más económico" placement="top" tooltipAnimation="true"
                      >
                        <i class="fas fa-dollar-sign"></i>
                      </button>
                      <button
                        class="icon-circle mr-3"
                        id="botonCercano"
                        (click)="optimizar('cercano')"
                        mdbTooltip="Más cercano" placement="top" tooltipAnimation="true"
                      >
                        <i class="fas fa-location-dot"></i>
                      </button>
                      <button
                        class="icon-circle mr-3"
                        id="botonRecorrido"
                        (click)="optimizar('recorrido')"
                        mdbTooltip="Optimiazado" placement="top" tooltipAnimation="true"
                      >
                        <i class="fas fa-layer-group"></i>
                      </button>
                    <!--  <mdb-range [min]="1" [max]="20" thumb-color="gray"></mdb-range> -->

                    </div>

                                <!-- linea de tiempo -->
                    <div
                      class="btn-container d-flex justify-content-center mt-3"
                    >
                      <div>
                        <div class="wrapper">
                          <ol class="c-timeline">
                            <li class="c-timeline__item">
                              <div class="c-timeline__content">
                                <div class="c-timeline__details">
                                  <h2 class="titulo-linea-tiempo"
                                  >
                                    Mayorista Makro
                                  </h2>
                                  <p class="c-timeline__desc">
                                    Av. Gral Paz 123
                                  </p>
                                </div>
                                <div class="c-timeline__images col-md-8">
                                  <img
                                    src="https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000"
                                    class="mx-auto img-stepper"
                                  />
                                </div>
                              </div>
                            </li>
                            <li class="c-timeline__item">
                              <div class="c-timeline__content">
                                <div class="c-timeline__details">
                                  <h2 class="titulo-linea-tiempo"
                                  >
                                    Supermercado Luna
                                  </h2>
                                  <p class="c-timeline__desc">Sarmiento 223</p>
                                </div>
                                <div class="c-timeline__images col-md-8">
                                  <img
                                    src="https://ardiaprod.vtexassets.com/arquivos/ids/242761-1200-auto?v=638115736908170000&width=1200&height=auto&aspect=true"
                                    class="mx-auto img-stepper"
                                  />
                                </div>
                              </div>
                            </li>
                            <li class="c-timeline__item">
                              <div class="c-timeline__content">
                                <div class="c-timeline__details">
                                  <h2 class="titulo-linea-tiempo"
                                  >
                                    Carniceria El Loco
                                  </h2>
                                  <p class="c-timeline__desc">Av. Rincón 245</p>
                                </div>
                                <div class="c-timeline__images col-md-8">
                                  <img
                                    src="https://ardiaprod.vtexassets.com/arquivos/ids/221169-1200-auto?v=637813804938970000&width=1200&height=auto&aspect=true"
                                    class="mx-auto img-stepper"
                                  />
                                </div>
                              </div>
                            </li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- mapa -->
                  <div class="col-md-4">
                    <div class="image-container">
                      <img
                        src="https://www.google.com/maps/d/thumbnail?mid=1xh0OHkWWVWUwjRHdTXQSHNmOaHU&hl=en"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
