.card-producto{
padding: 0.3rem 0.5rem 0.8rem 0.5rem;
}

.boton-producto{
    background-color: #04BFBF;
}

.boton-filtrar{
    background-color: #404040;
    color: white;
}

.boton-producto-add{
    background-color: #049f51;
    color: white;
}

.card-img-top{
    width: 60px;
}

.card {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .image-container {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .image-container img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }

  .title {
    font-size: 12px;
  }

  .card-escenarios{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

  }

  .card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #404040;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s;
  }
  
  .icon-circle:hover {
    background-color: #04BFBF !important;
  }
  .icon-generar:hover {
    background-color: #04BFBF !important;
  }

  .fila{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 40%;

  }

  .table .fila {
    border-radius: 10px;
    margin-bottom: 700px;

  }

  .tabla-redondeada {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
  }

