.card-producto{
padding: 0.3rem 1rem 1.5rem 1rem;
}

.boton-producto{
    background-color: #04BFBF;
}

.boton-filtrar{
    background-color: #404040;
    color: white;
}

.boton-producto-add{
    background-color: #049f51;
    color: white;
}

.card-img-top{
    width: 120px;
    padding-top: 1rem;
}

.card {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .image-container {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .image-container img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  

