<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4" style="background-color: #F2B28D;">
      <div style="text-align: center; background-color: #F2B28D; padding: 10px;">
        <h2 style="font-size: 24px; color: #ffffff; font-family: 'Arial', sans-serif; letter-spacing: 2px; text-transform: uppercase; margin: 0; padding-top: 15px;">Nuestra selección</h2>
        <div style="background-color: #ffffff; height: 2px; margin-top: 8px;"></div>
      </div>
      <div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://ardiaprod.vtexassets.com/arquivos/ids/221169-1200-auto?v=637813804938970000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Asado Envasado al Vacío x 1 Kg.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$1024.99</span>
              <button class="btn boton-producto"  (click)="openModal()"><i class="fas fa-right-left text-white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
            <span class="text-danger fs-3">&times;</span>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/226775/7790290101602_02.jpg?v=637715449494370000" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Aperitivo Fernet Branca 750 ml.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$2349.99</span>
              <button class="btn boton-producto"  (click)="openModal()"><i class="fas fa-right-left text-white"></i></button>
            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
            <span class="text-danger fs-3">&times;</span>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center div-card-producto">
        
      <div class="card mx-auto text-center m-4 d-inline-block">
        <img src="https://ardiaprod.vtexassets.com/arquivos/ids/242761-1200-auto?v=638115736908170000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
        <div class="card-body card-producto">
          <h5 class="card-title mt-1 fs-6">Papas Fritas Krachitos 270 Gr.

          </h5>
          <div class="btn-container d-flex justify-content-center mt-3">
            <span class="fw-bold fs-5 me-2">$736,35</span>
            <button class="btn boton-producto"  (click)="openModal()"><i class="fas fa-right-left text-white"></i></button>

          </div>
        </div>
        <button type="button" class="btn btn-link position-absolute top-0 end-0">
          <span class="text-danger fs-3">&times;</span>
        </button>
      </div>
      </div>


    </div>
    
    <div class="col-xl-9 col-lg-5 col-md-4" style="background-color: #faebd7;">
      <div class="col-xl-12 col-lg-12 col-md-12" style="background-color: #faebd7;">
        <div style="padding: 20px;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex-grow: 1;">
              <h3 style="font-size: 20px; color: #333333; margin-bottom: 10px;">Filtrar por:</h3>
              <select id="filtro" style="width: 70%; padding: 8px; margin-bottom: 10px; border: 1px solid #cccccc; border-radius: 4px;">
                <option value="precio">Precio</option>
                <option value="nombre">Nombre</option>
              </select>
            </div>
            <div style="flex-grow: 1;">
              <h3 style="font-size: 20px; color: #333333; margin-bottom: 10px;">Ordenar por:</h3>
              <select id="orden" style="width: 70%; padding: 8px; margin-bottom: 10px; border: 1px solid #cccccc; border-radius: 4px;">
                <option value="ascendente">Ascendente</option>
                <option value="descendente">Descendente</option>
              </select>
            </div>
            <div>
              <button class="btn boton-filtrar" style="padding: 8px 20px; font-size: 16px; border-radius: 4px;">Aplicar filtros</button>
            </div>
          </div>
        </div>
        <!-- Resto del código -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align: center; padding: 10px;">
            <div class="card" style="background-color: #04bfbf;">
              <div>
                <div class="card-body card-producto">
                  <div class="row">
                    <div class="col-md-8">
                      <h2 style="font-size: 24px; color: #ffffff; font-family: 'Arial', sans-serif; letter-spacing: 2px; text-transform: uppercase; margin: 0; padding-top: 15px;">Escenarios</h2>
                      <div style="background-color: #ffffff; height: 2px; margin-top: 8px;"></div>
                      <div class="btn-container d-flex justify-content-center mt-3"></div>
                    </div>
                    <div class="col-md-4">
                      <div class="image-container">
                        <img src="https://www.google.com/maps/d/thumbnail?mid=1xh0OHkWWVWUwjRHdTXQSHNmOaHU&hl=en" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
        
      </div>
      
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/226414-1200-auto?v=637711374527600000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Mermelada BC arándano 390 g.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$772,00</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://jumboargentina.vtexassets.com/arquivos/ids/191221/Ketchup-Natura-Aderezo-Ketchup-Natura-250-Gr-1-27571.jpg?v=636383519375430000" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Ketchup Natura Tomate 250 Gr.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$214,75</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/274817-1200-auto?v=638119092417730000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Helado Frigor en balde 1.5 kg.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$1.407,25
              </span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/316704-1200-auto?v=638176822085730000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Palitos de maíz Cheetos 151 g.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$582,00</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/184580-1200-auto?v=637468592819670000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Ensalada Rocky colores 250 g.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$607,00</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/311855-1200-auto?v=638162067330100000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Salchichas Vieníssima sin x 6u.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$310,00</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://jumboargentina.vtexassets.com/arquivos/ids/191221/Ketchup-Natura-Aderezo-Ketchup-Natura-250-Gr-1-27571.jpg?v=636383519375430000" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Ketchup Natura Tomate 250 Gr.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$214,75</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/274817-1200-auto?v=638119092417730000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Helado Frigor en balde 1.5 kg.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$1.407,25
              </span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/316704-1200-auto?v=638176822085730000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Palitos de maíz Cheetos 151 g.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$582,00</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/184580-1200-auto?v=637468592819670000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Ensalada Rocky colores 250 g.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$607,00</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://carrefourar.vtexassets.com/arquivos/ids/311855-1200-auto?v=638162067330100000&width=1200&height=auto&aspect=true" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Salchichas Vieníssima sin x 6u.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$310,00</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      <div class="col-md-12 col-lg-6 col-xl-3"><div class="d-flex align-items-center justify-content-center div-card-producto">
        <div class="card mx-auto text-center m-4 d-inline-block">
          <img src="https://jumboargentina.vtexassets.com/arquivos/ids/191221/Ketchup-Natura-Aderezo-Ketchup-Natura-250-Gr-1-27571.jpg?v=636383519375430000" class="card-img-top mx-auto" >
          <div class="card-body card-producto">
            <h5 class="card-title mt-1 fs-6">Ketchup Natura Tomate 250 Gr.

            </h5>
            <div class="btn-container d-flex justify-content-center mt-3">
              <span class="fw-bold fs-5 me-2">$214,75</span>
              <button class="btn boton-producto-add"  (click)="openModalAdd()"><i class="fas fa-arrow-left-long text white"></i></button>

            </div>
          </div>
          <button type="button" class="btn btn-link position-absolute top-0 end-0">
          </button>
        </div>
      </div></div>
      </div>
    </div>
  <!--   <div class="col-xl-3 col-lg-4 col-md-4" style="background-color: #f5724e;">
      <div style="text-align: center; background-color: #f5724e; padding: 10px;">
        <h2 style="font-size: 24px; color: #ffffff; font-family: 'Arial', sans-serif; letter-spacing: 2px; text-transform: uppercase; margin: 0; padding-top: 15px;">Escenarios</h2>
        <div style="background-color: #ffffff; height: 2px; margin-top: 8px;"></div>
      </div>
    </div> -->
  </div>