.card-producto{
    padding: 0.3rem 1rem 1.5rem 1rem;
}
.boton-producto{
    background-color: #04BFBF;
}

.effect-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .imagen-modal{
    max-width: 100px;
  }
  