<!-- 
<form [formGroup]="validationForm">
  <div class="row">
    <div class="col-md-6">
      <mdb-form-control>
        <input
          mdbValidate
          mdbInput
          type="text"
          id="form1"
          class="form-control"
          formControlName="firstName"
          required
        />
        <label mdbLabel class="form-label" for="form1">First name</label>
        <mdb-error
          *ngIf="
          firstName?.invalid && (firstName?.dirty || firstName?.touched)
          "
          >First name is required</mdb-error
        >
        <mdb-success
          *ngIf="
          firstName?.valid && (firstName?.dirty || firstName?.touched)
          "
          >Looks good!</mdb-success
        >
      </mdb-form-control>
    </div>
    <div class="col-md-6">
      <mdb-form-control>
        <input
          mdbValidate
          mdbInput
          type="text"
          id="form2"
          class="form-control"
          formControlName="lastName"
          required
        />
        <label mdbLabel class="form-label" for="form2">Last name</label>
        <mdb-error *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
          >Last name is required</mdb-error
        >
        <mdb-success *ngIf="lastName?.valid && (lastName?.dirty || lastName?.touched)"
          >Looks good!</mdb-success
        >
      </mdb-form-control>
    </div>
  </div>
</form> -->
