<div class="modal fade" id="exampleModalRegistro" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">¿Cómo querés registrarte?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex row">
          <button class="btn buttonnregistro btn-primary mb-3" data-bs-target="#exampleModalToggle1" data-bs-toggle="modal">Quiero crear mis listas de compras</button>
          <button class="btn  buttonnregistro btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Quiero publicar mis ofertas</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade " id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel1" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
    <div class="modal-content modalRegistroCliente align-items-center">
    
   
<section class="vh-100 w-75 p-4 bg-image">
  <div class="mask d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h4 class="text-center mb-5">Crear una cuenta</h4>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Nombre y apellido</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Contraseña</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Vuelve a escribir la contraseña</label>
                </div>

                <!-- <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div> -->
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  
</section>
    
        <div class="modal-footer justify-content-center">
            
            <button type="button"class="btn buttonnregistro">Registrarme</button>  
            <button class="btn botonAtras" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Atrás</button>
        </div>
      </div>
    </div>
</div>

<!-- Registro del comercio -->
  
<div class="modal fade " id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
    <div class="modal-content modalRegistroComercio align-items-center">
    
   
<section class="vh-100 w-75 p-3 bg-image formComercio">
  <div class="mask d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h4 class="text-center mb-5 mt-4">Crear una cuenta como comercio</h4>

              <form>
          
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Nombre y apellido</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Nombre del comercio</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">CUIT</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Dirección</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Contraseña</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Vuelve a escribir la contraseña</label>
                </div>

                <!-- <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div> -->
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  
</section>
    
        <div class="modal-footer justify-content-center">
            
            <button type="button"class="btn buttonnregistro">Registrarme</button>  
            <button class="btn botonAtras" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Atrás</button>
        </div>
      </div>
    </div>
</div>