.buttonnregistro{
    background-color: #025373 !important;
    color: white;
}
.botonAtras{
    border-color: #025373 !important;
    color: #025373 !important;
    background-color: white;
}
.modalRegistroCliente{
    background-color: #04bfbf;
    border-radius: 5%;
}
.modalRegistroComercio{
    background-color: #04bfbf;
    padding: 5%;
    border-radius: 5%;
}
.formComercio{
    border-radius: 5%;
}